<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/introHCI.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<div class="container">
		<div class="jumbotron">
  			<h1>{{title}}</h1>
		</div>

    <h3>Deciding Flow</h3>
    <div class="section">
      <p><center>
        First, our team thought through our ideas and decided to go with our "Rose, Bud, Thorn" concept.<br />
        (We later realized that collaborative storyboarding wasn't so far off from Google Slides anyhow!)
      </center></p>
      <img class="ctr" src="../images/m3/names.jpg">
      <p><center>
        After deciding to go with our "Rose, Bud, Thorn" concept, we brainstormed alternative names<br />
        that would be friendlier to all genders. We used these names as a jumping-off point for user interface ideas.
      </center></p>
      <img class="ctr" src="../images/m3/flow1.jpg">
      <p><center>
        We thought through the key functionality pieces that we would want to distinguish in our two prototypes,<br />
        and we also considered what kind of people to invite to give feedback on our presentation.
      </center></p>
      <img class="ctr" src="../images/m3/flow2.jpg">
      <p><center>
        After drawing through many different ideas, we settled on two prototype ideas.<br />
        Each would show a different way to 1) view and 2) upload one's "RBT."
      </center></p>
    </div>

    <h3>Wizard-of-Oz Prototypes</h3>
    <div class="section">
        <ul>
          <li>Wizard-of-Oz Prototype 1: Homepage = <a href="https://drive.google.com/file/d/0B5s4EnqT0-L_ZHJLMTBtbzlLaG8/edit?usp=sharing">My Page</a></li>
          <li>Wizard-of-Oz Prototype 2: Homepage = <a href="https://docs.google.com/presentation/d/1PPMbUK7WimWIv3VRiwn2bMFCUvH9Cf4Jz-i8ws1k34o/edit?usp=sharing">Friend Grid</a></li>
        </ul>
    </div>

    <h3>Wizard-of-Oz Testing</h3>
    <div class="section">
      <img class="ctr" src="../images/m3/test.jpg">
      <p><center>
        We tested both of our prototypes with 4 different users. See our notes <a href="https://docs.google.com/spreadsheets/d/1aGG0uOB6DOhXs7n4qpNAzlZjEtL6DIs6iALrUrrSJTA/edit?usp=sharing">here</a>.
      </center></p>
    </div>

    <h3>Wizard-of-Oz Test Insights</h3>
    <div class="section">
        <ul>
          <li>Powerpoint link will go here.</li>
        </ul>
    </div>

		{{{summary}}}

    <p><a href="/">Back &raquo;</a></p>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
