<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/introHCI.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<div class="container">
		<div class="jumbotron">
  			<h1>{{title}}</h1>
  			<!--<p>one-sentence description of project</p>-->
		</div>

		{{{summary}}}

    <h3>Meet Team PYE!</h3>
    <div class="section">
      <img class="ctr" src="../images/m1/team.jpg" width=500>
    <p><center>
      Hi there! We're Team PYE (<b>P</b>riya Shekar, <b>Y</b>iju Hou, <b>E</b>rika Ji).<br />
      Pictured from left to right: Erika, Priya, and Yiju.
    </center></p>
    </div>

    <h3>Ideation Process - Video</h3>
    <div class="section">
    <p><center>
    <iframe width="560" height="315" src="//www.youtube.com/embed/IjZgzdAqzh8" frameborder="0" allowfullscreen></iframe>
  </center></p>
  <p><center>
    Check out this time lapse video of our ideation process!
  </center></p>
    </div>

    <h3>Ideation Process - Photos</h3>
    <div class="section">
    <img class="ctr" src="../images/m1/brainstorm1.jpg">
    <p><center>
      We started off with a 20-minute brainstorm on potential target audiences and communication problems.
    </center></p>
    <br />
    <img class="ctr" src="../images/m1/brainstorm2.jpg">
    <p><center>
      After brainstorming, we went through all of the ideas and tagged the ones that resonated with us the most.
    </center></p>
    <br />
    <img class="ctr" src="../images/m1/brainstorm3.jpg">
    <p><center>
      We organized clusters of related ideas in order to better organize our thoughts. <br />
      However, we stayed conscious of how ideas across clusters could relate with each other.
    </center></p>
    <br />
    <img class="ctr" src="../images/m1/brainstorm4.jpg">
    <p><center>
      Now looking at clusters as opposed to individual ideas, we again evaluated which ideas resonated with us the most.
    </center></p>
    <br />
    <img class="ctr" src="../images/m1/brainstorm5.jpg">
    <p><center>
      From those ideas, we talked at length about which ideas came from real perceived needs as opposed to "nice-to-haves."<br />
      This discussion led to the three core ideas below!
    </center></p>
    </div>

    <h3>Three Ideas</h3>
    <div class="section">
    <ol>
      <li>
        <h4>Connecting Young Women</h4>
        <p>
          Young women need encouragement to develop lasting female friendships. Society imposes challenging scenarios on young women in a day-to-day sense, including male-dominated study/work environments, physical unsafe settings (e.g. walking home after dark), and high-stress workloads. Young women can overcome such life hurdles though bonding and support from likeminded peers. Even on a base biological level, research has shown women's stress response invites them to engage in girl talk! But female bonding takes significant time investment! 
        </p>
        <p>
          A potential solution to this is an app to facilitate the formation of close female friendships via communication, whether the topic of conversation may be first job experiences, or getting advice on an outfit. We foresee embedding rich media such as video and images as being necessary for the empathy work women need to do towards such friendships. Lean in girl!
        </p>
        <p>
          Our target audience is young women in the age range 18-28 years, with a potential focus on college years and the transition to professional life afterward. 
        </p>
      </li>
      <li>
        <h4>Communicating Problems with Emotions in Mind</h4>
        <p>
          How can I express my dissatisfaction or bring up a problem with someone without hurting their feelings? It can be very challenging to find the right approach and the right words to communicate your perspective and make sure you are understood without damaging the relationship.
        </p>
        <p>
          One project idea is to create an app that helps people communicate better about their problems. This could be an application that prompts users to initiate those honest conversations, provides helpful suggestions as to the right words to say or things to do, or aids the user in empathizing with the other person. We see images, sound, and video as forms of media that resonate more closely with the emotional than plaintext does, and this app could use rich media to make difficult conversations clearer to understand and closer to the heart.
        </p>
        <p>
          We imagine that our target audience would be college students and their peers, as we can then apply our personal experience to that design process, but we see this idea expanding to broader audiences, such as families and managers/workers/teams.
        </p>

      </li>
      <li>
        <h4>Facilitating Interactions with Friends-to-Be</h4>
        <p>
          How can I avoid the awkwardness when asking someone I just met to hang out? How can I find out what my news friends like? How can I make new friends?
        </p>
        <p>
          Our project goal is to solve the problems by using an app that reduces the friction of the communication between our users and their friends-to-be. It could be an application that automatically ranks social activities (e.g. laser tagging, hiking, camping) for a particular group of people, who have customized profiles in the database. Alternatively, another possible approach is to help people find their gym/dinner/TV show watching buddies within their Facebook friends, so that they can have the chance to get to know the people they usually do not talk to. Rich media, like images, sound and video, usually describes people’s personality more precisely than texts (I guess that’s why people do Facebook stalking…). Therefore, by gathering and sharing information via rich media, we can help people find out if someone could become their potential close friend.
        </p>
        <p>
          We imagine that our target audience would be young people who are active Facebook users.
        </p>
      </li>
    </ol>
    </div>

    <h3>Icing on the <strike>Cake</strike> PYE</h3>
    <div class="section">
    <p>We'll be grabbing brunch in Palo Alto goether on Sunday to get to know each other more! Stay tuned for a photo. <br />
      We're looking forward to a great quarter working together. :)</p>
    </div>

    <p><a href="/">Back &raquo;</a></p>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
