<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/introHCI.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<div class="container">
		<div class="jumbotron">
  			<h1>{{title}}</h1>
  			<!--<p>one-sentence description of project</p>-->
		</div>

		{{{summary}}}

    <h3>Meet Team PYE!</h3>
    <div class="section">
      <img class="ctr" src="../images/m1/team.jpg" width=500>
    <p><center>
      Hi there! We're Team PYE (<b>P</b>riya Shekar, <b>Y</b>iju Hou, <b>E</b>rika Ji).<br />
      Pictured from left to right: Erika, Priya, and Yiju.
    </center></p>
    </div>

    <h3>Ideation Process - Video</h3>
    <div class="section">
    <p><center>Video will go here!</center></p>
    </div>

    <h3>Ideation Process - Photos</h3>
    <div class="section">
    <img class="ctr" src="../images/m1/brainstorm1.jpg">
    <p><center>
      We started off with a 20-minute brainstorm on potential target audiences and communication problems.
    </center></p>
    <br />
    <img class="ctr" src="../images/m1/brainstorm2.jpg">
    <p><center>
      After brainstorming, we went through all of the ideas and tagged the ones that resonated with us the most.
    </center></p>
    <br />
    <img class="ctr" src="../images/m1/brainstorm3.jpg">
    <p><center>
      We organized clusters of related ideas in order to better organize our thoughts. <br />
      However, we stayed conscious of how ideas across clusters could relate with each other.
    </center></p>
    <br />
    <img class="ctr" src="../images/m1/brainstorm4.jpg">
    <p><center>
      Now looking at clusters as opposed to individual ideas, we again evaluated which ideas resonated with us the most.
    </center></p>
    <br />
    <img class="ctr" src="../images/m1/brainstorm5.jpg">
    <p><center>
      From those ideas, we talked at length about which ideas came from real perceived needs as opposed to "nice-to-haves."<br />
      This discussion led to the three core ideas below!
    </center></p>
    </div>

    <h3>Three Ideas</h3>
    <div class="section">
    <ol>
      <li>
        <h4>Connecting Young Women</h4>
        <p>Paragraph 1</p>
      </li>
      <li>
        <h4>Communicating Problems with Emotions in Mind</h4>
        <p>
          How can I express my dissatisfaction or bring up a problem with someone without hurting his feelings? It can be very challenging to find the right approach and the right words to communicate your perspective and make sure you are understood without damaging the relationship.
        </p>
        <p>
          One project idea is to create an app that helps people communicate better about their problems. This could be an application that prompts users to initiate those honest conversations, provides helpful suggestions as to the right words to say or things to do, or aids the user in empathizing with the other person. We see images, sound, and video as forms of media that resonate more closely with the emotional than plaintext does, and this app could use rich media to make difficult conversations clearer to understand and closer to the heart.
        </p>
        <p>
          We imagine that our target audience would be college students and their peers, as we can then apply our personal experience to that design process, but we see this idea expanding to broader audiences, such as families and managers/workers/teams.
        </p>

      </li>
      <li>
        <h4>Facilitating Interactions with Friends-to-Be</h4>
        <p>Paragraph 3</p>
      </li>
    </ol>
    </div>

    <h3>Icing on the <strike>Cake</strike> PYE</h3>
    <div class="section">
    <p>We'll be grabbing brunch in Palo Alto goether on Sunday to get to know each other more! Stay tuned for a photo. <br />
      We're looking forward to a great quarter working together. :)</p>
    </div>

    <p><a href="/">Back &raquo;</a></p>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
